textarea {
    font-size: 1.3rem;
    min-width: 100%;
    max-width: 300px;
    min-height: 80%;
    max-height: 100%;
}

input {
    font-size: 1.3rem;
    width: 100%;
    border: solid 1px blue;
    padding: 0.2rem 0.3rem;
    border-radius: 3px;
    margin: 0.2rem 0;
    outline: none;
}

.container_card {
    flex-direction: column;
}



.button_post_local {
    font-size: 1.6rem;
    margin-right: 0.5rem;
    background: #ebb325;
    color: #fff;
    font-weight: 700;
    padding: 0.1rem 0.3rem;
    border-radius: 3px;
    border: none;
    font-family: "Titillium Web", sans-serif;
    margin-top: 1rem;
}
.button_post_local:hover {
    border: solid 2px #9dc8a5;
}
.button_get_local {
    font-size: 1.6rem;
    background: #214ee1;
    color: #fff;
    font-weight: 700;
    padding: 0.1rem 0.3rem;
    border-radius: 3px;
    border: none;
    font-family: "Titillium Web", sans-serif;
    margin-top: 1rem;
}
.button_get_local:hover {
    border: solid 2px #9dc8a5;
}