.conatiner_search {
    display: flex;
    flex-direction: row;
    padding: 0.8rem 0.4rem;
    margin-bottom: 0.4rem;
    border-bottom: solid 1px #000000;
}
.conatiner_search input {
    font-family: "Titillium Web", sans-serif;
    font-size: 1.3rem;
    width: 100%;
    border-radius: 5px;
    border: solid 1px #000000;
    outline: none;
    padding: 0.1rem 0.4rem;
}
.conatiner_search input:hover {
    border-color: #000000;
    transition: 0.3s;
}

span {
    color: #fff;
    margin-left: 0.3rem;
}
.span_notification {
    font-family: "Titillium Web", sans-serif;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    line-height: 0.7rem;
    margin-bottom: 0.5rem;
}

.section_fetch {
    margin: 0 0.4rem;
    width: 50%;
}
.conatiner_main {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    border-radius: 13px;
    font-family: "Titillium Web", sans-serif;
}
.container_box {
    font-size: 1.5rem;
    background: #000000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.6rem;
}
.container_box {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: solid #000000 2px;
}
.container_box img {
    width: 80px;
    height: 80px;
    border-radius: 3px;
    border: solid #000000 1px;
}

.conatiner_main div:last-child {
    font-size: 1.3rem;
    padding: 0.6rem;
}

.button_post {
    font-size: 1.6rem;
    background: #000000;
    color: #fff;
    font-weight: 700;
    padding: 0.1rem 0.3rem;
    border-radius: 3px;
    border: none;
    font-family: "Titillium Web", sans-serif;
    margin-top: 1rem;
}
.button_post:hover {
    border: solid 2px #000000;
}


main {
    display: flex;
    flex-direction: row;
    
}

.section_card {
    margin: 0 0.4rem;
    width: 100%;
}





@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }
    .section_fetch, .section_card {
        width: 100%;
        padding: 0.7rem;
        margin: 0;
    }
    .section_card {
        margin: 0;
        width: 100%;
    }
    .container_header {
        flex-direction: column;
    }
}